.Account{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/Account/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 25px);
    padding:60px 550px;
}

.Account *{
    font-size: 20px;
}

.User_data{
    -webkit-font-smoothing: antialiased;
    font-family: YS Text,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    -webkit-box-direction: normal;
    color: rgba(247,247,255,.9);
    background-color: hsla(0,0%,100%,.4);
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
    overflow: hidden;
}

.Logo_account{
    background-image: url("../res/лого.png");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 32px;
    border-radius: 5%;
    height: 96px;
}

.switch_account_button{
    color: blue;
    width: auto;
    cursor: pointer;
}
.logOut_button{
    color: red;
    cursor: pointer;

}